<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input</title>
</head>
<body>
    <div id="app">
        <p>当前：{{value}}</p>
        <p>步长：{{stepnum}}</p>
        <input v-model="stepnum">
        <input-number v-model="value" :max="10" :min="0" :step="stepnum"></input-number>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script src="input-number.js"></script>
    <script src="index.js"></script>
</body>
</html>